@border-color: #e3e3e3;

.card-box() {
  margin: 10px;
  background-color: @admin-white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.link-title() {
  & > .title {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid @border-color;

    .link {
      text-decoration: none;
      font-weight: bold;
      color: @admin-black;

      &::after {
        position: absolute;
        padding-left: 0.25em;
        font-weight: normal;
        color: @admin-dark-gray;
      }
    }
  }
}
