@font-face {
  font-family: 'siteimprove';
  src: url('../fonts/icomoon.woff2') format('woff2'),
  url('../fonts/icomoon.woff') format('woff');
}

.icon {
  .icon-mixin('siteimprove');
}

.icon-new-tab {
  .icon;
  &::after {
    content: "\ea7e";
  }
}
