.@{_SITEIMPROVE_PREFIX}data-card {
  flex: 1 0 auto;
  .card();

  .data-table {
    width: 100%;
    box-sizing: border-box;

    .name {
      font-weight: bold;
      text-align: left;
    }

    .value {
      text-align: right;
    }

    td {
      padding: 10px 20px;
      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }

}
