.@{_SITEIMPROVE_PREFIX}score-card {

  width: 190px;
  transition: width 0.2s ease-in-out 0.25s;

  &.detailed {
    width: 100%;
    transition: width 0.2s ease-in-out;

    .@{_SITEIMPROVE_PREFIX}details {
      max-height: 180px;
      margin: 10px;
      transform: scale(1);
      opacity: 1;
    }

    .separator {
      display: block;
    }
  }

  .chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 0 20px 10px;
    font-size: 2em;
    font-weight: bold;
    box-sizing: border-box;
    .card-border();

    .chart {
      transform: rotate(-90deg);
      transform-origin: 50%;

      circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1.1s cubic-bezier(0, 0.25, 0.35, 1) 0.15s;
        stroke: @border-color;
        stroke-width: 6px;

        &.progress {
          stroke-width: 10px;
        }
      }
    }

    .points {
      position: absolute;

      &::after {
        content: '%';
        position: absolute;
        margin: 0.4em 0 0 0.2em;
        font-size: 0.4em;
        font-weight: normal;
        color: @form-button-font-disabled;
      }
    }
  }

  .@{_SITEIMPROVE_PREFIX}details {
    max-height: 0;
    overflow: hidden;
    transform: scale(0.75);
    opacity: 0.3;
    transition: 0.5s;
  }

  .separator {
    .card-border();
    display: none;
  }


  .overview {
    .card-button();
  }

}
