@border-color: #e3e3e3;

.@{_SITEIMPROVE_PREFIX}score-card {
  margin: 10px;
  background-color: @admin-white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;

  .title {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid @border-color;
  }

  .chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 120px;
    margin: auto;
    font-size: 2em;
    font-weight: bold;

    .chart {
      transform: rotate(-90deg);
      transform-origin: 50%;

      circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: @border-color;
        stroke-width: 10px;
      }

      .progress {
        //stroke: #FF9F1E;
        //stroke-dashoffset: 482.743px;
      }
    }

    .points {
      position: absolute;

      &::after {
        content: '%';
        position: absolute;
        margin: 0.4em 0 0 0.2em;
        font-size: 0.4em;
        font-weight: normal;
        color: @form-button-font-disabled;
      }
    }
  }

  .overview {
    border-radius: 15px;
    height: 32px;
    border: 2px solid @border-color;
    background: transparent;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
  }

}
