.@{_SITEIMPROVE_PREFIX}widget {
  font-size: 14px;

  &.site {
    .flex();

    &.detailed {
      .@{_SITEIMPROVE_PREFIX}score-card:not(.active) {
        .notSelectable();
        pointer-events: none;
        opacity: 0.5;
        filter: grayscale(0.75);
      }
    }

    &:not(.detailed) {
      .@{_SITEIMPROVE_PREFIX}details-card {
        display: none;
      }
    }
  }

  &.page {
    .flex();
    align-items: center;
    flex-direction: column;
    padding: 0 10px;

    &.detailed {
      .metadata {
        display: block;
      }
    }

    .metadata {
      .flex();
      display: none;
    }
  }

  .error {
    width: initial !important;
  }
}
